VITE_PUBLIC_SITE_NAME="✨Slides ✨ | Hotbuild"

VITE_FIREBASE_API_KEY="AIzaSyB2UX-GjAnsVoQ8oggOwjbT0nWJe6KiQH0"
VITE_FIREBASE_AUTH_DOMAIN="x2bad00.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="x2bad00"
VITE_FIREBASE_STORAGE_BUCKET="x2bad00.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="425387138207"
VITE_FIREBASE_APP_ID="1:425387138207:web:ba2d98991dfd4b244796aa"

# const firebaseConfig = {
#   apiKey: "AIzaSyB2UX-GjAnsVoQ8oggOwjbT0nWJe6KiQH0",
#   authDomain: "x2bad00.firebaseapp.com",
#   projectId: "x2bad00",
#   storageBucket: "x2bad00.firebasestorage.app",
#   messagingSenderId: "425387138207",
#   appId: "1:425387138207:web:ba2d98991dfd4b244796aa"
# };