:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --r-main-font:
    -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  --r-main-font-size: 30px;

  /* --r-heading-color: #bd93f9;
  --r-link-color: #ff79c6;
  --r-background-color: #1c1120; */

  --r-heading-color: #f2f2f2;
  --r-link-color: #5dff48;
  --r-background-color: #1c1120;
}
